.main-layer1 {
    height: 85px;
    min-width: 1088px;
}

.bg-white {
    background: #fff;
    height: 100%;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left8 {
    margin-left: 8px;
}

.margin-right8 {
    margin-right: 8px;
}

.margin-left2 {
    margin-left: 2px;
}

.chart-style {
    padding-left: 0;
    padding-right: 10px;
    height: 100%;
}

.chart-style-content {
    padding: 16px;
}

.chart-style-tips-container {
    margin-top: 10px;
}

.chart-style-tips {
    font-size: 16px;
    float: left;
}

.chart-style-change-btn {
    float: right;
    width: 75px;
    height: 26px;
    border: 1px solid #ccc;
    margin-right: 6px;
    background: #fff;
    border-radius: 2px;
}

.use-message {
    padding: 16px;
}

.use-message-word {
    color: #ff8901;
    margin-top: 10px;
    font-size: 20px;
}

.use-message-refresh {
    font-size: 16px;
    cursor: pointer;
}

.padding16 {
    padding: 16px;
}

.main-layer2 {
    height: 201px;
    min-width: 1088px;
}

.banwidth-rank,
.hoturl-rank,
.operator-pencent {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 320px;
}

.layer2-title {
    overflow: hidden;
}

.layer2-title h3 {
    float: left;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}

.layer2-title h3:before {
    content: "";
    margin-top: 1px;
    border-left: 3px solid #fe4543;
    padding-left: 10px;
}

.operate-ctn {
    float: right;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.bandwidth-rank-refresh {
    margin-left: 10px;
    cursor: pointer;
}

.rank-content {
    padding: 2px 0;
}

.rank-content dl {
    margin-top: 8px;
    width: 100%;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    margin-bottom: 0px;
    min-width: 350px;
}

.rank-content dl dt,
.rank-content dl dd {
    float: left;
    margin-right: 16px;
    font-weight: normal;
}

.rank-content dl dd {
    width: 260px;
    position: relative;
    height: 100%;
}

.rank-content dl dd i {
    position: absolute;
    z-index: 1;
    background: #f7f7f7;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
}

.rank-content dl dd span {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hot-url dl dt {
    min-width: 35px;
    height: 20px;
    line-height: 20px;
    padding-left: 35px;
    position: relative;
    color: #fe8a01;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

.hot-url dl dt:before {
    content: "top";
    color: #fff;
    width: 28px;
    height: 20px;
    background: #ffb801;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: normal;
    font-size: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
}

.hot-url dl dd span {
    padding-left: 0px;
}

.main-layer3 {
    clear: both;
    margin-top: 10px;
    min-width: 1088px;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    background: #fff;
}

.main-layer3 .tab-body {
    min-height: 320px;
    padding: 10px;
    display: none;
    border: 1px solid #ccc;
    background: #fcfcfc;
}

.main-layer3 .tab-body.active {
    display: block;
}

.main-layer3 ul {
    padding: 0;
    margin-bottom: 0;
}

.tab-body-ctn {
    padding-top: 10px;
}

.edge-bandwidth-charts,
.request-charts {
    width: 100%;
    height: 300px;
}

.tab-body .tips {
    padding-left: 10px;
    overflow: hidden;
    color: #000;
}

.ks-dropdown-menu {
    display: none;
}

.ks-dropdown {
    margin-left: 0;
    margin-right: 0;
}

.open .ks-dropdown-menu {
    display: block;
}

.main-error-ctn,
.main-tips-ctn {
    position: relative;
    width: 100%;
    height: 0;
    z-index: 10;
}

.main-error-ctn .ks-alert {
    min-width: 400px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-tips-ctn .ks-alert {
    min-width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tips-ctn {
    min-width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    z-index: 99999;
}


/* 修改提示的关闭按钮的颜色 */

.main-tips-ctn .ks-alert .close {
    color: #fff;
}

.domain-spinner {
    min-width: 32px;
    height: 32px;
    background: url(../images/loading_32x32_ksyun.gif) 0 0 no-repeat;
    padding-left: 37px;
    line-height: 32px;
    display: inline-block;
}

.ks-table td.text-center {
    text-align: center;
}


/* 日志下载 */

.padding10 {
    padding: 10px;
}

.log-download-operate-right,
.cdn-operate-right {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.marginRight10 {
    margin-right: 10px;
}

.config-tips {
    color: #999999;
}

.config-list-border {
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}

.config-textarea {
    background: #fafafa;
    border: 1px solid #ccc;
    height: 38px;
}

.config-answer-ctn {
    width: 15px;
    padding-left: 0;
    float: left;
}

.config-answer {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/tips.png) 0 0 no-repeat;
    margin-top: 10px;
}

.star-ctn {
    width: 10px;
    color: red;
}

.caret {
    margin-left: 10px;
}


/* 自助配置 */

.costomSetup-layer1 {
    min-width: 1088px;
}

.label-text-show {
    float: left;
    height: 30px;
    line-height: 30px;
    min-width: 60px;
    text-align: right;
}

.label-content-show {
    float: left;
}

.cdn-row {
    width: 100%;
}

.region-select-ctn .select-checkboxcon {
    float: left;
    width: auto;
    margin-top: 2px;
}

.cdn-addDomain-layer .radio {
    float: left;
    margin-top: 6px;
    margin-right: 20px;
}

.cdn-addDomain-layer .radio label {
    font-weight: normal;
}

.origin-address {
    width: 230px;
    height: 100px;
    display: inline-block;
}

.logDownload p.text-muted {
    padding: 0;
    margin: 0;
}

.add-domain-error-tips {
    float: left;
    margin-top: 5px;
}

.floatLeft {
    float: left;
}

.cdn-download-layer,
.cdn-live-layer,
.cdn-download-live-port,
.ks-form-control .cdn-error-tip {
    display: none;
}

.cdn-originIP,
.cdn-originAddress,
.cdn-originKsVideo,
.cdn-originKS3 {
    display: none;
}

.logDownload .ks-btn a {
    color: #319cf1;
}

.logDownload .ks-btn a:hover {
    color: #0b79d0;
}