.bgColor{background-color: #fff !important;}
.fontColor{background-color: black !important;}
.marginRight10 {margin-right: 10px;}
.spanWidth130{
	display: inline-block;
	width: 130px;
}
.conf{
	margin-bottom: 5px;
}