body {
  font-family: "Microsoft Yahei";
  background-color: #eee;
}

.total-items {
  text-align: center;/*    margin: 26px 0;*/
}

.btn .caret {
  margin-left: 10px;
}

.opt-ctn a {
  margin-right: 10px;
}

.glyphicon {
  margin-right: 5px;
}

.echart {
  height: 400px;
}

body .well,
.container .well,
.container-fluid .well,
body .jumbotron,
.container .jumbotron,
.container-fluid .jumbotron,
body .well-default,
.container .well-default,
.container-fluid .well-default,
body .jumbotron-default,
.container .jumbotron-default,
.container-fluid .jumbotron-default {
  background-color: #fff;
}

body .well,
.container .well,
.container-fluid .well,
body .jumbotron,
.container .jumbotron,
.container-fluid .jumbotron {
  background-color: #fff;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  border-radius: 4px;
  border: 0;
}

td a,
td input[type="number"],
td .label {
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
  word-break: keep-all;
  white-space: nowrap;
}

.disp-table>tbody>tr>td {
  padding: 0 8px;
}

.form-group label,
.form-group input,
.form-group .dropdown,
.form-group .dropup {
  margin-right: 10px;
}

.valuable-customer .form-group label,
.valuable-customer .form-group input,
.valuable-customer .form-group .dropdown,
.valuable-customer .form-group .dropup {
  margin-right: 0;
}

.long-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.pagination {
  margin: 0
}

.node-manage .table-ctn {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.map-ctn {
  background-color: #eee;
  min-height: 768px;
  height: 100%;
}

.map-detail-ctn .spinner,
.map-ctn .spinner {
  margin: 0px auto;
  top: 200px;
}

.cover-manage .cover-detail-ctn {
  background-color: #eee;
  min-height: 768px;
  padding-right: 20px;
}

.cover-manage .node-list-ctn {
  background-color: #eee;
  height: 768px;
  overflow: auto;
}

.badge-primary {
  background-color: #337ab7;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-success {
  background-color: #5cb85c;
}

.valuable-customer .dropdown .btn{
    width: 100%;
}

.valuable-customer .dropdown .cur-value{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}

td .radio {
  margin: 0;
}

td .table {
  margin-bottom: 0;
}

.loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;/*    max-width: 25%;*/
  min-height: 200px;
  align-items: center;
  justify-content: center;
}

.cover-manage .map-ctn .loader {
  min-height: 600px;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1,
.cube2 {
  color: #fff;
  text-align: center;
  padding: 5px;
  background-color: #337ab7;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
  }

  100% {
    -webkit-transform: rotate(-360deg)
  }

}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }

}

.nav-navbar > li:nth-child(1) {
  width: 200px;
}

.ctrl-nav-container a,
.ctrl-sidebar-container a {
  text-decoration: none;
}

.ctrl-nav-container .search-ctn{
    min-width: 300px;
    padding: 7px;
    position: relative;
}

.ctrl-nav-container .search-ctn .form-control{
    display: inline-block;
    width: 300px;
    padding-left: 40px;
    padding-right: 40px;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    right: 10px;
}

.ctrl-nav-container .search-ctn .form-control:focus{
    width: 400px;
}

.ctrl-nav-container .search-ctn .glyphicon-search{
    top: 14px;
    left: 0px;
    font-size: 20px;
    position: absolute;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
  }

.ctrl-nav-container .search-ctn .glyphicon-remove{
    font-size: 16px;
    right: 15px;
    top: 18px;
    cursor: pointer;
    position: absolute;
}

.ctrl-nav-container .search-ctn .form-control:focus~.glyphicon{
    color: #337ab7;
}

.ctrl-nav-container .search-ctn .form-control:focus~.glyphicon-search{
    left: -100px;
}

.search-view .search-detail{
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    padding: 50px;
}

.search-view .search-backdrop{
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5
}

.search-view .glyphicon-remove{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.bisType {
  margin-left: 10px;
  margin-right: -6px;
}

.css-gray {
  color: gray;
}

.user-info,
.ctrl-nav-container {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.jquery-accordion-menu {
  font-family: "Microsoft Yahei"
}

.jquery-accordion-menu {
  position: fixed;
  max-width: 200px;
  min-width: 50px;
  bottom: 0;
  top: 0;
  box-shadow: 0 0px 20px #333;
  background-color: #222;
}

.jquery-accordion-menu .glyphicon {
  margin-right: 0px;
}

.packup-sidebar {
  width: 50px;
}

.jquery-accordion-menu ul li {
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}

.packup-sidebar .submenu-indicator {
  display: none;
}

.packup-sidebar.jquery-accordion-menu ul li a {
  padding: 14px 12px;
}

.packup-sidebar.jquery-accordion-menu ul ul.submenu>li>a {
  padding-left: 12px;
}

.packup-sidebar ul li:hover {
  width: 200px;
}

.packup-sidebar ul li:hover .submenu-indicator {
  display: block;
}

.modal-content .modal-body .ipManage-info {
  max-height: 400px;
  overflow-y: auto;
}

.disp-config-history .daily li {
    border-left: 2px solid #ddd;
    margin-left: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    position: relative;
}

.disp-config-history .dailycont {
    background-color: #ddd;
    border: 4px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px 15px;
    position: relative;
}

.disp-config-history .circle{
    left: -8px;
    right: 0;
    top: 18px;
    width: 16px;
    position: absolute;
    color: #ddd;
}

.disp-config-history .arrowl{
    left: -14px;
    right: 0;
    position: absolute;
    top: 13px;
    color: #ddd;
}

.disp-config-history .daily .card{
    background-image:url(https://mailimg.teambition.com/logos/cover-media.jpg);
    margin: 10px 20px 0 0;
    width: 150px;
    padding: 8px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.35);
}

.disp-config-vs .card-ctn .card:hover,
.disp-config-history .card:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.disp-config-vs .card-ctn{
    height: 150px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.disp-config-vs .card-ctn .card{
    background-image:url(https://mailimg.teambition.com/logos/cover-media.jpg);
    margin-top: -30px;
    margin-left: -75px;
    width: 150px;
    padding: 8px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    height: 60px;
    text-shadow: 0 1px 1px rgba(0,0,0,.35);   
    position: absolute;
    top: 50%;
    left: 50% 
}



/* 纬哥插件样式：dialog 基本设置 =====================================*/
.weige .dialog {
  position: fixed;
  _position: absolute;
  top: 0;
  z-index: 100;
  background: #fff;
  overflow: hidden;
  padding-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.weige .dialog .head {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.weige .dialog .head .dialog-title {
  font-size: 14px;
  width: 100%;
  background-color: #337ab7;
}

.weige .dialog .head .dialog-close {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

.weige .dialog .head .dialog-close:before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/ksyun_icon_05.png) no-repeat 0 -167px;
}

.weige .dialog .head .dialog-close:hover:before {
  background-position: -18px -167px;
}

.weige .dialog .head .dialog-close:hover {
  background-color: #fb6362;
}

.weige-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop)+'px');
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 99;
}

.weige .manage-dialog-baseMessage {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-size: 20px;
}

.weige .manage-dialog-change-btnContainer {
  overflow: hidden;
}

.weige .manage-dialog-change-btnContainer div {
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weige .manage-dialog-change-btnOk {
  background: #148cec;
  color: #fff;
}

.weige .manage-dialog-change-btnCancel {
  background: #ededed;
  color: #999;
  display: inline;
  margin-left: 10px;
}

.weige .common-dialog-title {
  width: 100%;
  text-align: left;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 10px;
  color: #fff;
}

/*过滤框样式*/
.select-container {
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); 
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  width: 448px;
  border: 1px solid #f2f2f2;
  display: none;
  position: absolute;
  left: 10px;
  top: 35px;
  background: #fff;
  z-index: 999999;
}

.select-title-container {
  width: 100%;
  background: #d7edff;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px 20px;
  line-height: 30px;
  display: table;
  vertical-align: middle;
}

.select-title-container input[type=search] {
  height: 25px;
  border: 1px solid #e5e5e5;
  width: 98px;
  font-size: 12px;
  line-height: 25px;
  margin-left: 4px;
  margin-top: 2px;
  padding: 6px 0 6px 
  12px;
  box-sizing: border-box;
  float: left;
}

.search-ctn {
  display: table-cell;
  vertical-align: middle;
  height: 25px;
}

.select-search-tips {
  color: #0095d0;
  float: left;
}

.select-checkbox-value {
  position: relative;
  height: 20px;
  line-height: 15px;
  padding-left: 25px;
  overflow: hidden;
}

.select-checkbox-value:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border: 1px solid #e5e5e5;
  left: 1px;
  top: 0;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
}

.select-checkbox-value:after {
  border: none;
  transition: all 0.2s ease-in;
}

.select-checkboxcon {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: table;
  vertical-align: middle;
  width: 100%;
  padding: 8px 20px;
  margin-bottom: 0;
}

.select-checkbox {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
  *width: 20px;
  *height: 20px;
  position: absolute;
  top: 5px;
}

.select-checkboxcon input[type=checkbox]:checked+ .select-checkbox-value:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border: 1px solid #e5e5e5;
  left: 1px;
  top: 0;
  overflow: hidden;
  cursor: pointer;
}

.select-checkboxcon input[type=checkbox]:checked+ .select-checkbox-value:after {
  cursor: pointer;
  content: "";
  width: 6px;
  height: 10px;
  border-right: 1px solid #0097d3;
  border-bottom: 1px solid #0097d3;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 1px;
  transition: all 0.2s ease-out;
}

.select-checkbox-container {
  color: #0095d0;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.select-checkbox-container .checkboxcon {
  float: left;
  width: auto;
  margin-left: 10px;
}

.select-value-layer {
  width: 100%;
  max-height: 405px;
  overflow-y: auto;
  padding-left: 0;
}

.select-value-layer li {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.select-value-layer li.hide {
  display: none;
}

.select-value-layer li:hover {
  background: #f8f8f8;
}

.select-checkboxcon.isSingle {
  padding: 6px 0px;
  margin-bottom: 0;
}

.select-checkboxcon.isSingle input[type=checkbox] .select-checkbox-value:after {
  display: none;
}

.select-checkboxcon.isSingle input[type=checkbox] .select-checkbox-value:before {
  display: none;
}

.select-checkboxcon.isSingle .select-checkbox-value:after {
  display: none;
}

.select-checkboxcon.isSingle .select-checkbox-value:before {
  display: none;
}

.icon-check-all:before {
  content: '';
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  background: url(../images/icon.png) 0 -46px no-repeat;
}

.icon-check-cancel:before {
  content: '';
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  background: url(../images/icon.png) 0 -30px no-repeat;
}

.icon-check-back:before {
  content: '';
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
  background: url(../images/icon.png) 0 -14px no-repeat;
}

/* title上的按钮 */
.select-check-all {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  cursor: pointer;
}

.select-cancel-all {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  padding-left: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.select-select-back {
  height: 16px;
  line-height: 16px;
  padding-left: 10px;
  margin-left: 10px;
  cursor: pointer;
  padding-right: 10px;
}

.select-select-close {
  height: 14px;
  float: right;
  background: url(../images/icon.png) 0 0 no-repeat;
  width: 14px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* title上的按钮 */
.select-check-all {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.select-cancel-all {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.select-select-back {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.select-btn-ok {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
/*==================================================*/

.valuable-customer .dropdown-menu{
    left: 15px;
}

.nav>li>a {
    padding: 15px 35px;
    color: #999999;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #ed4646;
}

.nav-tabs {
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;

}

.nav-tabs li.active{
    box-shadow: -8px 0 17px -9px rgba(0, 0, 0, .2)
}

.nav-tabs > li > a {
  margin-right: 0; 
  border-radius: 0;
  border: none; 
  cursor: pointer;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ed4646;
  border: none;
  background-color: #fff;
}

.nav > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  border-top: 3px solid transparent;
  top: 15px;
  left: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}

.nav > .active > a:before,
.nav > li > a:hover:before {
  border-top-color: #ed4646;
  top: 0;
}
.node-ctn{
    overflow: auto;
    margin: 0;
}

.node-ctn .node-item{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.node-device-ctn{
    margin-top: 10px;
}

@media (max-width: 1400px){
  .temp{
    display: none;
  }
}