<div class="tableDelete">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>hash名称</th>
        </tr>
        </thead>
        <tbody>
        <% if(data.hashNameList.length > 0) {%>
        <%for(var i=0;i<data.hashNameList.length;i++){%>
        <tr>
            <td><%=data.hashNameList[i]%></td>
        </tr>
        <%}%>
        <%}else{%>
        <tr>
            <td>空</td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>策略名称</th>
        </tr>
        </thead>
        <tbody>
        <% if(data.strayegyNameList.length > 0) {%>
        <%for(var i=0;i<data.strayegyNameList.length;i++){%>
        <tr>
            <td><%=data.strayegyNameList[i]%></td>
        </tr>
        <%}%>
        <%}else{%>
        <tr>
            <td>空</td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>拓扑名称</th>
        </tr>
        </thead>
        <tbody>
        <% if(data.topoNameList.length > 0) {%>
        <%for(var i=0;i<data.topoNameList.length;i++){%>
        <tr>
            <td><%=data.topoNameList[i]%></td>
        </tr>
        <%}%>
        <%}else{%>
        <tr>
            <td>空</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

