<table class="table table-striped table-hover cdn-node-manage-table-striped">  
    <thead> 
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>名称</th>
        <th>英文缩写</th>
        <% for(var i = 0; i < titleList.length; i++) { %>
          <% if (titleList[i].isChecked) { %>
            <th><%=titleList[i].name%></th>
          <% } %>
        <% } %>
        <th>操作</th>   
        <th>操作说明</th> 
      </tr>
    </thead>
    <% for(var i = 0; i < data.length; i++) { %>
		<tbody>		
            <tr data-id="<%=data[i].attributes.id%>" style="background-color:<%if(i%2==0){%>#fff;<%}else{%>#f9f9f9;<%}%>">
              <th scope="row">
                  <input type="checkbox" id="<%=data[i].attributes['id']%>" <% if (data[i].attributes["isChecked"]) { %>checked="true"<% } %>>
              </th>
              <td>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="node-name">
                    <%=data[i].attributes["chName"]%>
                  </a>
              </td>
              <td><%=data[i].attributes["name"]%></td>
              <%if(data[i].attributes.operatorId != 9){%>
                <% for(var j = 0; j < titleList.length; j++) { %>
                   <% if (titleList[j].isChecked) { %>
                      <td><%=data[i].attributes[titleList[j].key]%></td>
                   <% } %>
                <% } %>
              <%}else{%>
                <% for(var j = 0; j < titleList.length; j++) { %>
                   <% if (titleList[j].isChecked && titleList[j].isMultiRows) { %>
                      <td>
                        <%if(data[i].attributes['rsNodeCorpDtos'].length !== 0){%>
                        <table class="table">
                          <%for(k = 0;k < data[i].attributes['rsNodeCorpDtos'].length;k++){%>
                          <tr>
                            <td><%=data[i].attributes["rsNodeCorpDtos"][k][titleList[j].key] || "---"%></td>
                          </tr>
                          <%}%>
                        </table>
                        <%}else{%>
                          ---
                        <%}%>
                      </td>
                   <% } else if (titleList[j].isChecked){ %>
                      <td><%=data[i].attributes[titleList[j].key]%></td>
                   <% } %>
                <% } %>
              <%}%>
              <td>
				         <%if(data[i].attributes['status']!=3){%>
                  <% if (permission.EditNode) { %>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="edit" title="编辑">
                      <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <% } %>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="disp-info" title="调度组信息">
                      <span class="glyphicon glyphicon-list-alt"></span>
                  </a>
                  <% if (data[i].attributes.status !== 1 && permission.EnableorPauseNode) { %>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="play" title="开启">
                      <span class="glyphicon glyphicon-play-circle"></span>
                  </a>
                  <% } %>
<!--                   <% if (data[i].attributes.status === 1) { %>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="hangup" title="挂起">
                      <span class="glyphicon glyphicon-time"></span>
                  </a>
                  <% } %> -->
                  <% if (data[i].attributes.status === 1 && permission.EnableorPauseNode) { %>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="stop" title="暂停">
                      <span class="glyphicon glyphicon-pause"></span>
                  </a>
                  <%}else if(data[i].attributes.status === 4 && permission.EnableorPauseNode){%>
                   <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="init" title="配置初始化">
                      <span class="glyphicon glyphicon-repeat"></span>
                  </a>
                  <%}else if(data[i].attributes.status === 2 && permission.EnableorPauseNode){%>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="start" title="启用">
                      <span class="glyphicon glyphicon-off"></span>
                  </a>
                  <%}%>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="delete" title="删除">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
				         <%}%>
              </td>
      			  <td>
      				<% if (permission.EnableorPauseNode) { %>
                        <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="operateDetail">
                            操作详情
                        </a>
      				<% }else{ %>
      				---
      				<%}%>
      			  </td>
            </tr>
		</tbody>
    <% } %>  
</table>