<table class="table table-striped table-hover"> 
    <thead> 
      <tr>
        <th><input type="checkbox" id="inlineCheckbox6" <% if (isCheckedAll) { %> checked="true" <% } %>></th>
        <th>名称</th>
        <th>配置</th> 
        <th>IP类型</th>
        <th>备注</th>
        <th>调度组状态</th> 
        <th>节点服务状态</th>     
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].dispId%>">
              <td><input type="checkbox" id="<%=data[i].dispId%>" <% if (data[i].isChecked) { %> checked="true"  disabled="disabled"<% } %> ></td>
              <td><%=data[i]["dispDomain"]%></td>
              <td><%=data[i]["priorityName"]%></td>
              <td><%=data[i]["resovleIpName"]%></td>
              <td>
                  <a href="javascript:void(0)" title='<%=data[i]["remark"] || "无"%>'>备注</a>
              </td>
              <td><%=data[i]["statusName"]%></td>
              <td><%=data[i]["isInseriveName"]%></td>
            </tr>
        <% } %>  
    </tbody>
</table>