<table class="table table-striped table-hover">
    <caption>历史记录(显示最近1个月的数据)</caption> 
    <thead> 
      <tr>
        <th>操作人</th>
        <th>操作</th> 
        <th>操作时间</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].dispId%>">
              <td><%=data[i]["dispDomain"]%></td>
              <td><%=data[i]["priorityName"]%></td>
              <td><%=data[i]["resovleIpName"]%></td>
            </tr>
        <% } %>  
    </tbody>
</table>