
<% for(var i = 0; i < data.length; i++) { %>
    <% if (data[i].get("isDisplay")) { %>
    <tr data-id="<%=data[i].attributes.id%>">
      <td><input type="checkbox" id="<%=data[i].id%>"></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("creatorName") || "神秘人"%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("domain")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("configReasonName")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("isCustomName")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("platformName")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("topologyName")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("specialruleName")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("domainVersion")%></a></td>
      <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("createTimeFormated")%></a></td>
      <td>
        <a href="javascript:void(0)" class="remark" id="<%=data[i].attributes['id']%>"
           data-container="body" 
           data-toggle="popover"
           data-trigger="hover" 
           data-placement="top" 
           data-content='<%=data[i].get("description") || "无" %>'>备注</a>
      </td>
      <td>
          <% if(permission.ViewConfigDetails) { %>
          <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="edit"
             title="<%=data[i].get('domain')%>&nbsp;查看详情" data-toggle="tooltip" data-placement="bottom">
              <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <% } %>
          <% if(permission.SendToSending) { %>
          <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="send"
             title="<%=data[i].get('domain')%>&nbsp;下发" data-toggle="tooltip" data-placement="bottom">
              <span class="glyphicon glyphicon-send"></span>
          </a>
          <% } %>
          <% if(permission.SendBackInWS) { %>
          <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="reject"
             title="<%=data[i].get('domain')%>&nbsp;打回" data-toggle="tooltip" data-placement="bottom">
              <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
          <% } %>
      </td>
    </tr>
    <% } %> 
<% } %>  