<div class="valuable-customer fadeInLeft animated">
    <h3>数据统计<small>/客户带宽统计</small></h3>
    <div>
        <ul class="nav nav-tabs">
            <% if (permission.DownloadAccelerate) { %>
            <li class="active"><a href="#valuable-customer-download" data-toggle="tab" data-target="#valuable-customer-download">下载加速</a></li>
            <% } %>
            <% if (permission.LiveAccelerate) { %>
            <li><a href="#valuable-customer-live" data-toggle="tab" data-target="#valuable-customer-live">直播加速</a></li>
            <% } %>
        </ul>
        <div class="tab-content">
            <div class="tab-pane well fade in active" id="valuable-customer-download"></div>
            <div class="tab-pane well fade" id="valuable-customer-live"></div>
        </div>
    </div>
</div>