<table class="table table-striped table-hover">  
<thead> 
  <tr>
    <th>IP</th>
    <th>类型</th>    
    <th>设备</th> 
    <th>节点</th>
    <th>调度组</th>
    <th>状态</th>  
    <th>操作</th> 
  </tr>
</thead>
<tbody>
    <% for(var i = 0; i < data.length; i++) { %>
        <tr data-id="<%=data[i].attributes.ipId%>">
          <td><%=data[i].attributes.ip%></td>
          <td><%=data[i].attributes.ipType%></td>
          <td><%=data[i].attributes.deviceName%></td>
          <td><%=data[i].attributes.nodeChName%></td>
          <td><%=data[i].attributes.dispDomain%></td>
          <td>
            <%=data[i].attributes.statusName%>
            <% if(data[i].attributes.status == '8' || data[i].attributes.status == '10' || data[i].attributes.status == '12' || data[i].attributes.status == '14'){ %>
              <a href="javascript:void(0)" title="IP所属设备已暂停">
                <span class="glyphicon glyphicon-exclamation-sign" style="color:red;"></span>
              </a>
            <% } %>
          </td>
          <td>
          <% if(permission.EnableorPauseIPinManageIPs){ %>
          <% if(data[i].attributes.status == '2' || data[i].attributes.status == '6' || data[i].attributes.status == '10' || data[i].attributes.status == '14'){ %>
              <a href="javascript:void(0)" id="<%=data[i].attributes.ipId%>" class='ipOperation' data-ip="<%=data[i].attributes.ip%>" data-status="1" title='开启'>
                <span class="glyphicon glyphicon-play-circle"></span>
              </a>
          <% }else if(data[i].attributes.status == '8' || data[i].attributes.status == '12'){ %>
              <a href="javascript:void(0)" id="<%=data[i].attributes.ipId%>" class="a_disabled" data-ip="<%=data[i].attributes.ip%>" data-status="1" title='IP所属设备已暂停'>
                <span class="glyphicon glyphicon-play-circle css-gray"></span>
              </a>
          <% }else if(data[i].attributes.status == '1'){ %>
              <a href="javascript:void(0)" id="<%=data[i].attributes.ipId%>" class="ipOperation" data-ip="<%=data[i].attributes.ip%>" data-status="2" title="暂停">
                <span class="glyphicon glyphicon-pause"></span>
              </a>
          <% }else{ %>
              <a href="javascript:void(0)" class="a_disabled">
                <span class="glyphicon glyphicon-off css-gray"></span>
              </a>
              <a href="javascript:void(0)" class="a_disabled">
                <span class="glyphicon glyphicon-play-circle css-gray"></span>
              </a>
          <% } %>
          <% } %>
          <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="disp-info" title="调度组信息">
              <span class="glyphicon glyphicon-list-alt"></span>
          </a>
          </td>
        </tr>
    <% } %>  
</tbody>
</table>