<table class="table table-striped table-hover">  
<thead> 
  <tr>
    <th>名称</th>
    <th>类型</th>
    <th>是否允许自动调度</th>
    <th>是否多线</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作人</th>
    <th>操作</th> 
  </tr>
</thead>
<tbody>
      <%for(var i=0;i<data.length;i++){%>
      <tr>
        <td><%= data[i].get('name')%></td>
        <td><%= data[i].get('typeName')%></td>
        <td><%= data[i].get('autoFlagName')%></td>
        <td><%= data[i].get('isMultiName')%></td>
        <td><%= data[i].get('createTimeFormated')%></td>
        <td><%= data[i].get('updateTimeFormated')%></td>
        <td><%= data[i].get('operator')%></td>
        <td>
          <a href="javascript:void(0)" id="<%= data[i].get('id')%>" class="edit" title="编辑">
              <span class="glyphicon glyphicon-edit"></span>
          </a>
<!--           <a href="javascript:void(0)" id="<%= data[i].get('id')%>" class="delete" title="删除">
              <span class="glyphicon glyphicon-trash"></span>
          </a> -->
          <a href="javascript:void(0)" id="<%= data[i].get('id')%>" class="check" title="检查">
             <span class="glyphicon glyphicon-check"></span>
         </a> 
        </td>
      </tr>
      <%}%>
</tbody>
</table>