<table class="table table-striped table-hover table-bordered">
    <thead> 
      <tr>
        <th>开始</th>
        <th>结束</th> 
        <th>操作</th>  
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].id%>">
              <td><%=data[i].start%></td>
              <td><%=data[i].end%></td>
              <td>
                <a href="javascript:void(0)" id="<%=data[i].id%>" class="delete" title="删除">删除</a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>