<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th><input type="checkbox" id="inlineCheckbox6"></th>
        <th>接入域名</th>
        <th>加速域名</th>
        <th>客户名称</th>
        <th>调度组</th>
        <th>区域</th>
        <th>增量带宽（Gbps)</th>   
        <th>添加时间</th>  
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].attributes.id%>">
              <td><input type="checkbox" id="<%=data[i].id%>"></td>
              <td><%=data[i].attributes["cname"]%></td>
              <td><%=data[i].attributes["accelerateName"]%></td>
              <td><%=data[i].attributes["clientName"]%></td>
              <td><%=data[i].attributes["groupName"]%></td>
              <td><%=data[i].attributes["regionName"]%></td>
              <td><%=data[i].attributes["increBandwidth"]%></td>
              <td><%=data[i].attributes["createTime"]%></td>
              <td>
                <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="delete" title="删除">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>