<div>
    <% if (data.name === "下发策略") { %>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="input-domain" class="col-sm-3 control-label">任务名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input-task-name">
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>提示：</strong>更换拓扑关系会删除域名原有的特殊分层策略，如有需要，请在更换拓扑后重新添加
    </div>
    <% } %>
    <div class="long-dropdown-menu">
        <p>涉及的域名</p>
        <div class="domain-ctn"></div>
    </div>
    <hr>
    <div>
        <p>选择<%=data.name%></p>
        <div class="table-ctn table-responsive long-dropdown-menu"></div>
    </div>
</div>