<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>属性名</th>
            <th>属性编码</th>
            <th>属性值</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr propertyValueId="<%=data[i].propertyValueId%>" propertyId="<%=data[i].propertyId%>">
                <td value="<%=data[i].name%>"><%=data[i].name%></td>
                <td value="<%=data[i].code%>"><%=data[i].code%></td>
                <td value="<%=data[i].value%>"><%=data[i].value%></td>
                <td>
                    <a href="javascript:void(0)" id="" class="edit" title="编辑">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="javascript:void(0)" id="" class="delete" title="删除">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>