<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>任务名称</th>
        <th>应用</th>
        <th>拓扑关系</th>
        <th>下发策略</th> 
        <th>下发开始时间</th>
        <th>下发完成时间</th>
        <th>完成类型</th>
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].attributes.id%>">
              <td><a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="detail"><%=data[i].get("taskName")%></a></td>
              <td><%=data[i].get("platformName")%></td>
              <td><%=data[i].get("topologyName")%></td>
              <td><%=data[i].get("deliveryStrategyDefName")%></td>
              <td><%=data[i].get("startTimeFormated")%></td>
              <td><%=data[i].get("endTimeFormated")%></td>
              <td><%=data[i].get("statusName")%></td>
              <td>
    					<% if(data[i].get("status") == 3 && permission.RepeatSend) { %>
    					<a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="repeat"
                 title="重新发布" data-toggle="tooltip" data-placement="bottom">
    					  <span class="glyphicon glyphicon-repeat"></span>
    					</a>
    					<% } %>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>