<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th><input type="checkbox" id="inlineCheckbox6"></th>
        <th>发布者</th>
        <th>加速域名</th>
        <th>下发类型</th>
        <th>应用</th>
        <th>拓扑关系</th>
        <th>版本号</th>
        <th>发布时间</th>   
        <th>备注</th>
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].attributes.id%>">
              <td><input type="checkbox" id="<%=data[i].id%>"></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("creatorName") || "神秘人"%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("domain")%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("configReasonName")%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("platformName")%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("topologyName")%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("domainVersion")%></a></td>
              <td><a title='<%=data[i].get("domain")%>' data-toggle="tooltip" class="table-a"><%=data[i].get("createTimeFormated")%></a></td>
              <td>
                <a href="javascript:void(0)" class="remark" id="<%=data[i].attributes['id']%>"
                   data-container="body" 
                   data-toggle="popover"
                   data-trigger="hover" 
                   data-placement="top" 
                   data-content='<%=data[i].get("description") || "无" %>'>备注</a>
              </td>
              <td>
                  <% if(permission.EditCustomize) { %>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="edit" title='<%=data[i].get("domain")%>' data-toggle="tooltip">编辑</a>
                  <% } %>
                  <% if(permission.SendToWaitSend) { %>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="send" title='<%=data[i].get("domain")%>' data-toggle="tooltip">发布到待下发</a>
                  <% } %>
                  <% if(permission.SendBackInWC) { %>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="reject" title='<%=data[i].get("domain")%>' data-toggle="tooltip">打回</a>
                  <% } %>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>