<table class="table table-hover disp-table">
    <thead> 
      <tr>
        <!-- <th><input type="checkbox" id="inlineCheckbox7"></th> -->
        <th>调度组名称</th>
        <th>区域</th>
        <th>节点</th>
        <th>TTL</th>
        <th>操作</th>     
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].attributes.id%>">
              <!-- <td><input type="checkbox" id="<%=data[i].id%>"></td> -->
              <td><%=data[i].attributes["dispGroup.dispDomain"]%></td>
              <td><%=data[i].attributes["region.name"]%>(<%=data[i].attributes["region.maxBandWidth"].toFixed(2)%>)</td>
              <td class="nodes">
                  <table class="table table-condensed table-striped">
                      <tbody>
                          <% for(var k = 0; k < data[i].attributes["listFormated"].length; k++) { %>
                              <% if(data[i].attributes["listFormated"][k].attributes["node.chName"]) { %>
                              <tr data-id="<%=data[i].attributes["listFormated"][k].attributes.id%>" <% if(data[i].attributes["listFormated"][k].attributes["isUpdated"]) { %> class="success" <% } %>>
                                <td style="width:400px"><%=data[i].attributes["listFormated"][k].attributes["nodeString"]%></td>
                                <td>
                                    <input type="number" id="<%=data[i].attributes["listFormated"][k].attributes['id']%>" region-id="<%=data[i].attributes.id%>" class="weight" max="10" min="0" value="2" style="display: none" >
                                    <a href="javascript:void(0)" id="<%=data[i].attributes["listFormated"][k].attributes['id']%>" region-id="<%=data[i].attributes.id%>" class="edit" title="编辑节点">
                                      <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="javascript:void(0)" id="<%=data[i].attributes["listFormated"][k].attributes['id']%>" region-id="<%=data[i].attributes.id%>" class="delete" title="删除">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                              </tr>
                              <% } %> 
                          <% } %>  
                      </tbody>
                  </table>
              </td>
              <td><%=data[i].attributes["dispGroup.ttl"]%></td>
              <td>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="add">
                      <span class="glyphicon glyphicon-plus"></span>添加节点
                  </a>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="adjust">
                      <span class="glyphicon glyphicon-cog"></span>调整
                  </a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>