<div>
    <% for(var i = 0; i < data.length; i++) { %>
    <% if (data[i].isDisplay) { %>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="optionsRadios" id='<%=data[i]["node.id"]%>' value="<%=data[i]["node.id"]%>" <% if(data[i]["isChecked"]) { %> checked="true" <% } %>>
            <%=data[i]["node.chName"] + "(" + data[i]["node.maxBWLastNight"] + "/" + data[i]["node.currBW"] + "/" + data[i]["node.maxBandwidth"] + ")L" + data[i]["cover.crossLevel"]%>
        </label>
        <% if (isShowChart) { %>
        <a href="javascript:void(0)" class="chart" id='<%=data[i]["node.id"]%>'>查看带宽</a>
        <% } %>
    </div>
    <% } %>
    <% if(data[i]["line"]) { %> <hr> <% } %>
    <% } %>
</div>