<div class="disp-config fadeInLeft animated">
    <h4>服务管理<small>/调度配置</small></h4>
    <div class="well opt-ctn opt-panel">
        <div class="form-inline">
            <div class="form-group">
                <label for="dropdown-disp">调度组</label>
            </div>
            <div class="form-group dropdown-disp">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-disp" data-toggle="dropdown">
                        <span class="cur-value">加载中...</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu long-dropdown-menu"></ul>
                </div>
            </div>
<!--             <div class="form-group">
                <label for="dropdown-region">区域</label>
            </div>
            <div class="form-group dropdown-region">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-region" data-toggle="dropdown">
                        <span class="cur-value">全部</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"></ul>
                </div>
            </div> -->
            <a href="javascript:void(0)" class="btn btn-primary query">
                <span class="glyphicon glyphicon-search"></span>查询
            </a>
            <a href="javascript:void(0)" class="btn btn-info init" style="display: none">初始化覆盖区域</a>
            <a href="javascript:void(0)" class="btn btn-success sending">
                <span class="glyphicon glyphicon-send"></span>下发DNSpod
            </a>
            <a href="javascript:void(0)" class="btn btn-default hide-remark" style="display: none">
                <span class="glyphicon glyphicon-chevron-up"></span>收起备注和关联频道信息
            </a>
            <a href="javascript:void(0)" class="btn btn-default show-remark">
                <span class="glyphicon glyphicon-chevron-down"></span>展开备注和关联频道信息
            </a>
        </div>
        <hr>
        <div class="form-inline">
            <a href="javascript:void(0)" class="btn btn-default histroy">
                <span class="glyphicon glyphicon-time"></span>历史记录
            </a>
            <a href="javascript:void(0)" class="btn btn-default vs">
                <span class="glyphicon glyphicon-duplicate"></span>对比历史记录
            </a>
            <a href="javascript:void(0)" class="btn btn-default planning">
                每日规划
            </a>
        </div>
        <div class="content-ctn" style="display: none">
            <hr>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="textarea-comment" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" id="textarea-comment"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-name" class="col-sm-2 control-label">关联频道</label>
                    <div class="col-sm-8 channel-table-ctn table-responsive"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="well main-list">
        <div class="form-inline">
            <div class="form-group" style="margin-right: 20px;">
                <div class="label label-success version-time">Last Version</div>
            </div>
            <% if (permission.QuickSearchNodeorRegion) { %>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn disp-config-filter-drop">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="cur-value">按区域</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"></ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control" id="disp-config-filter" placeholder="快速搜索">
                </div><!-- /input-group -->
            </div>
            <% } %>
        </div>
        <div class="table-ctn table-responsive"></div>
        <div class="page-ctn row">
            <div class="col-md-8" style="text-align:center">
                <div class="pagination"></div>
            </div>
            <div class="col-md-4" style="text-align:center">
                <form class="form-inline page-info">
                    <div class="form-group">
                        <div class="form-control-static">每页显示</div>
                    </div>
                    <div class="form-group page-num">
                        <div class="drop-ctn dropup">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="cur-value">10 条</span>
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control-static total-items">共<span class="text-primary">0</span>条记录</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="well diff-send-panel" style="display:none"></div>
</div>