<form class="form-horizontal col-sm-offset-1" >
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead data-rule="head">
                <tr>
                    <th><input type="checkbox" checked="true">  </th>
                     <th>本层</th>
                    <th>上一层</th>
                </tr>
            </thead>
            <tbody data-rule="body">
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr data-id="<%=data[i].id%>">
                      <td>
                          <% if (data[i]["localLayer"].split("<br>").length > 1) { %>
                            <%=data[i]["localLayer"].split("<br>")[0]%>
                            <a href="javascript:void(0)" data-container="body" data-trigger="focus"
                            data-toggle="popover" data-placement="right" data-content='<%=data[i]["localLayer"]%>' data-html="true">...更多(<%=data[i]["localLayer"].split("<br>").length%>)</a>
                          <% } else { %>
                            <%=data[i]["localLayer"]%>
                          <% } %>
                      </td>
                      <td>
                          <% if (data[i]["upperLayer"].split("<br>").length > 1) { %>
                            <%=data[i]["upperLayer"].split("<br>")[0]%>
                            <a href="javascript:void(0)" data-container="body" data-trigger="focus"
                            data-toggle="popover" data-placement="right" data-content='<%=data[i]["upperLayer"]%>' data-html="true">...更多(<%=data[i]["upperLayer"].split("<br>").length%>)</a>
                          <% } else { %>
                            <%=data[i]["upperLayer"]%>
                          <% } %>
                      </td>
                    </tr>
                <% } %>  
            </tbody>
        </table>
    </div>
</form>
