<table class="layer table table-striped table-hover">
    <thead> 
      <tr>
        <th>名称</th>
        <th>应用</th> 
      </tr>
    </thead>
    <tbody>
        <%if(showRemoveSpecialLayer){%>
        <tr>
           <td>
                <div class="radio">
                    <label>
                      <input type="radio" name="options-layer" id="-1" %>
                      <span>解除分层策略</span>
                    </label>
                </div>
            </td>
            <td></td>          
        </tr>
        <%}%>
        <% for(var i = 0; i < data.length; i++) { %>
            <% if (!data[i].get('notDisplay')) { %>
            <tr data-id="<%=data[i].get('id')%>">
              <td>
                  <div class="radio">
                      <label>
                        <input type="radio" name="options-layer" id=<%=data[i].get('id')%>>
                        <span><%=data[i].get("name")%></span>
                      </label>
                  </div>
              </td>
              <td><%=data[i].get('typeName')%></td>
            </tr>
            <% } %>
        <% } %>  
    </tbody>
</table>