<form class="form-horizontal col-sm-offset-1" >
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead data-rule="head">
                <tr>
                    <th><input type="checkbox" checked="true">  </th>
                     <th>本层</th>
                    <th>上一层</th>
                </tr>
            </thead>
          
            <% for(var i = 0; i < data.length; i++) { %>
              <tbody data-rule="body">
                <tr>
                    <th><input type="checkbox" checked="true" id="<%=data[i].id%>"></th>
                    <%if(data[i].localType==1){%>
                        <%if(data[i].local.length>1){%>
                         <td><table>
                            <%for(var j=0;j< data[i].local.length;j++){%>
                              <tr><td><%=data[i].local[j].name%></td></tr>
                            <%}%>
                         </table></td>
                        <%}else{%>
                          <td><%=data[i].local[0].name%></td>
                    <%}}else if(data[i].localType==2){%>
                         <td><%=data[i].local[0].name%></td>
                    <%}else if(data[i].localType==3){%>
                         <td><%=data[i].local[0].provinceName+data[i].local[0].name%></td>
                    <%}else if(data[i].localType==4){%>
                         <td><%=data[i].local[0].areaName+data[i].local[0].name%></td>
                    <%}%>
                    <%if(data[i].upper.length>1){%>        
                    <%if(data[i].isBackup){%>
                       <td>
                       <span class="mainOrBackupSpan">主:</span>
                        <table>
                            <%for(var j=0;j< data[i].upper.length; j++){%>
                              <%if(data[i].upper[j].chiefType!=0){%>
                              <tr><td><%=data[i].upper[j]["rsNodeMsgVo"].name%></td></tr>
                            <%}}%>
                       </table>
                       <span class="mainOrBackupSpan">备:</span>
                       <table>
                            <%for(var j=0;j< data[i].upper.length; j++){%>
                              <%if(data[i].upper[j].chiefType==0){%>
                              <tr><td><%=data[i].upper[j]["rsNodeMsgVo"].name%></td></tr>
                              <%}}%>
                       </table>
                       </td>
                       <%}else{%>
                        <td>
                        <table>
                             <%for(var j=0;j< data[i].upper.length; j++){%>
                               <tr><td><%=data[i].upper[j]["rsNodeMsgVo"].name%></td></tr>
                             <%}%>
                        </table>
                       </td>           
                    <%}}else{%>       
                        <td><%=data[i].upper[0]["rsNodeMsgVo"].name%></td> 
                    <%}%>                    
                </tr>
              </tbody>
            <% } %>
        </table>
    </div>
</form>
