<table class="table table-striped table-hover">
        <thead>
            <tr>
                <%if(data.allSpecialLayerIsChecked){%>
                    <th>   
                        <input type="checkbox" checked="true">分层策略名称  
                    </th>
                    <%}else{%>
                        <th><input type="checkbox">分层策略名称</th>
                    <%}%>
                <!-- <th>分层策略名称</th> -->
                <th>应用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr data-id="<%=data[i].id%>">
                    <%if(data[i].itemRuleIsChecked){%>
                     <td><input type="checkbox" checked="true" id="<%=i%>"><%=data[i].name%></td>
                    <%}else{%>
                       <td><input type="checkbox" id="<%=i%>"><%=data[i].name%></td>
                    <%}%>
                    <!-- <td>
                        <%=data[i].name%>
                    </td> -->
                    <td>
                        <%=data[i].typeName%>
                    </td>
                    <td>
                        <a href="javascript:void(0)" id="<%=data[i].id%>" class="view" title="查看">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>               
                    </td>
                </tr>
                <tr data-nodeid="<%=data[i].id%>" class="toggle-show" style="display:none">
                    <td colspan="3" class="tdTable" data-nodeid="<%=data[i].id%>"></td>
                </tr>
                <% } %>
        </tbody>
    </table>