<div class="cdn-customsetup-project" style="padding-top:10px;">
	<strong class="padding10">您已选择<%=data.length%>条数据</strong>
	<table class="ks-table margin-top10">
		<colgroup>
			<col width="60%">
			<col width="40%">
		</colgroup>
		<thead>
			<tr>
				<th>域名</th>
				<th>所属项目组</th>
			</tr>
		</thead>
	</table>
	<div class="ks-table-tobdy" style="overflow-y: auto; overflow-x: hidden; position: relative; max-height:300px;">
		<table class="ks-table">
			<colgroup>
				<col width="60%">
				<col width="40%">
			</colgroup>
			<tbody>
				<%for(var i=0;i<data.length;i++){%>
				<tr class="<%if(i%2!=0){%>active<%}%>">
					<td><%= data[i].get('domain') %></td>
					<td><%= data[i].get('projectName') || '---' %></td>
				</tr>
				<%}%>
			</tbody>
		</table>
	</div>	
	<table class="ks-table ks-table-select-project margin-top10">
		<thead>
			<tr>
				<th>请选择所属项目组</th>
			</tr>
		</thead>
		<tbody>
			<%for(var i=0;i<10;i++){%>
			<tr>
				<td>
					<label for="project-select-<%=i%>">
						<input class="project-select-list floatLeft" type="radio" name="project-select" id="project-select-<%=i%>" value="HLS">
						<span>hls</span>
					</label>
				</td>
			</tr>
			<%}%>		
		</tbody>
	</table>
	<div class="cdn-row margin-top10" style="overflow: hidden;">
		<div class="label-content-show margin-left10">
			<button class="ks-btn ks-btn-primary" id="add-project-btnSubmit">确认</button>
			<button class="ks-btn ks-btn-default margin-left10" id="add-project-btnCancle">取消</button>
		</div>
	</div>	
</div>