<% for(var i=0; i < data.length; i++){ %>
	<tr class="<%if(i%2==1){%>active<%}%>">
		<td><%=data[i].get("domain")%></td>
		<td><%=data[i].get("cnameDomainStr")%></td>
		<td><%=data[i].get("typeName")%></td>
		<td class="ks-td-status-closed"><%=data[i].get("statusName")%></td>
		<td><%=data[i].get("confCustomTypeName")%></td>
		<td><%=data[i].get("cdnFoctoryStr")%></td>
		<td><%=data[i].get("createTimeFormated")%></td>
		<td><%=data[i].get("updateTimeFormated")%></td>
		<td>
			<% if ((data[i].get("protocol") !== 1 && data[i].get("confCustomType") === 3) || 
				   (data[i].get("protocol") !== 3 && data[i].get("confCustomType") === 3)) { %>
			<% } else { %>
				<% if (data[i].get("auditStatus") !== 0 && data[i].get("auditStatus") !== 2) { %>
				<a href="javascript:void(0)" id="<%=data[i].id%>" class="manage">管理</a>
				<% } %>
				<a href="javascript:void(0)" id="<%=data[i].id%>" class="setup-bill">配置单</a>
			<% } %>
		</td>
	</tr>
<% } %>
