<table class="table table-hover disp-table">
    <thead> 
      <tr>
        <th><input type="checkbox" id="inlineCheckbox7"></th>
        <th>调度组名称</th>
        <th>区域</th>
        <th>节点</th>
        <th>TTL</th>
        <th>操作</th>   
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <% if (data[i].get("isDisplay")) { %>
            <tr data-id="<%=data[i].attributes.id%>">
              <td><input type="checkbox" id="<%=data[i].id%>"></td>
              <td><%=data[i].get("dispGroup.dispDomain")%></td>
              <td><%=data[i].get("region.name")%>(<%=data[i].get("region.maxBandWidth").toFixed(2)%>)</td>
              <td class="nodes">
                  <table class="table table-condensed table-striped">
                      <tbody>
                          <% for(var k = 0; k < data[i].get("listFormated").length; k++) { %>
                              <% if(data[i].get("listFormated")[k].get("node.chName") && data[i].get("listFormated")[k].get("isDisplay")) { %>
                              <tr data-id='<%=data[i].get("listFormated")[k].get("id")%>' 
                                <% if(data[i].get("listFormated")[k].get("isUpdated")) { %> 
                                    class="warning" 
                                <% } else if (data[i].get("listFormated")[k].get("type") === 1) { %>
                                    class="success"
                                <% } else if (data[i].get("listFormated")[k].get("type") === -1) { %>
                                    class="danger"
                                <% } %> >
                                <td style="width:400px"><%=data[i].get("listFormated")[k].get("nodeString")%></td>
                                <td>
                                    <input type="number" class="weight" id='<%=data[i].get("listFormated")[k].get("id")%>' region-id='<%=data[i].get("id")%>' max='<%=data[i].get("listFormated")[k].get("dispConfIpInfo.maxNum")%>' min="0" value='<%=data[i].get("listFormated")[k].get("dispConfIpInfo.currNum")%>'>
                                    <% if (data[i].get("listFormated")[k].get("dispConfIpInfo.pauseNum") > 0) { %>  
                                    <span class="label label-danger">
                                        <%=data[i].get("listFormated")[k].get("dispConfIpInfo.pauseNum")%>
                                    </span>
                                    <% } %>
                                    <a href="javascript:void(0)" class="edit" id='<%=data[i].get("listFormated")[k].get("id")%>' region-id='<%=data[i].get("id")%>' title="编辑节点">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="javascript:void(0)" class="delete" id='<%=data[i].get("listFormated")[k].get("id")%>' region-id='<%=data[i].get("id")%>'  title="删除">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                              </tr>
                              <% } %> 
                          <% } %>  
                      </tbody>
                  </table>
              </td>
              <td><%=data[i].get("dispGroup.ttl")%></td>
              <td>
                  <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="add">
                      <span class="glyphicon glyphicon-plus"></span>添加节点
                  </a>
<!--                   <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="adjust">
                      <span class="glyphicon glyphicon-cog"></span>调整
                  </a> -->
              </td>
            </tr>
            <% } %>
        <% } %>  
    </tbody>
</table>