<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>控制台显示值</th>
        <th>参数值</th>
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].get('id')%>">
              <td><%=data[i].get("quotaName")%></td>
              <td><%=data[i].get("quotaTimes")%></td>
              <td>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="edit" title="修改">
                      <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="delete" title="修改">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>