<table class="table table-striped table-hover">  
    <thead> 
      <tr>
        <th>分块ID</th>
        <th>唯一KEY</th>    
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr id="<%=data[i].partitionId%>">
              <td><%=data[i].partitionId%></td>
              <td><%=data[i].domain%></td>
              <td>
                <a href="javascript:void(0)" id='<%=data[i].partitionId%>' class="edit" title="编辑">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="javascript:void(0)" id="<%=data[i].partitionId%>" class="delete" title="删除">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>