<table class="table table-striped table-hover">  
    <thead> 
      <tr>
        <% if (dataTpye === 1) { %>
        <th>
          <input type="checkbox">
        </th>
        <% } %>
        <% if (dataTpye !== 3) { %>
        <th>ID</th> 
        <th>节点组</th>
        <% } %>
        <th>文件路径</th>
        <th>分块</th>
        <th>版本号</th>
        <th>创建时间</th>
        <th>MD5</th>
        <% if (dataTpye === 1 || dataTpye === 3) { %>
        <th>操作</th> 
        <% } %>   
      </tr>
    </thead>
    <tbody>

        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id='<%=data[i].get("id")%>'>
              <% if ((i === 0) || (i > 0 && data[i].get("nodeGroupId") !== data[i -1].get("nodeGroupId"))) { %>
                <% if (dataTpye === 1) { %>
                <th scope="row" rowspan='<%=data[i].get("rowspan") %>'>
                    <input type="checkbox" id='<%=data[i].get("nodeGroupId")%>' <% if (data[i].attributes["isChecked"]) { %>checked="true"<% } %>>
                </th>
                <% } %>
                <% if (dataTpye !== 3) { %>
                <td rowspan='<%=data[i].get("rowspan") %>'><%=data[i].get("nodeGroupId") %></td>
                <td rowspan='<%=data[i].get("rowspan") %>'><%=data[i].get("nodeGroupName") %></td>
                <% } %>
              <% } %>
              <td>
                  <a href="javascript:void(0)" id='<%=data[i].get("id")%>' histroy-id='<%=data[i].get("confFileHisId")%>' node-group-id='<%=data[i].get("nodeGroupId")%>' class="file-name">
                      <%=data[i].get("fileName") %>
                  </a>
              </td>
              <td><% if (data[i].get("partition") === 1) { %><span class="glyphicon glyphicon-th"></span><% } %></td>
              <td><%=data[i].get("currVersion") || data[i].get("version")%></td>
              <td><%=data[i].get("createTimeFormated") %></td>
              <td><%=data[i].attributes["md5"]%></td>
              <% if (dataTpye === 1 || dataTpye === 3) { %>
              <td>
                  <% if (dataTpye === 1) { %>
                  <a href="javascript:void(0)" id='<%=data[i].get("id")%>' histroy-id='<%=data[i].get("confFileHisId")%>' node-group-id='<%=data[i].get("nodeGroupId")%>' class="edit" title="编辑">
                      <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a href="javascript:void(0)" id='<%=data[i].get("id")%>' histroy-id='<%=data[i].get("confFileHisId")%>' node-group-id='<%=data[i].get("nodeGroupId")%>' class="history" title="历史记录">
                      <span class="glyphicon glyphicon-time"></span>
                  </a>
                  <% } %> 
                  <% if (dataTpye === 3 && currentHisId !== data[i].get("confFileHisId")) { %>
                  <a class="btn btn-primary btn-sm used" href="javascript:void(0)" histroy-id='<%=data[i].get("confFileHisId")%>' node-group-id='<%=data[i].get("nodeGroupId")%>' id='<%=data[i].get("id")%>'>
                      选择
                  </a>
                  <% } %> 
              </td>
              <% } %> 
            </tr>
        <% } %>  
    </tbody>
</table>