<form class="form-horizontal">
    <% if (dataType === 1) { %>
    <div class="form-group">
        <label for="input-name" class="col-sm-2 control-label">文件名称</label>
        <div class="col-sm-8">
          <p class="form-control-static" id="input-name"><%=data.attributes.fileName%></p>
        </div>
    </div>
    <div class="form-group">
        <label for="node-group-name" class="col-sm-2 control-label">所属节点组</label>
        <div class="col-sm-8">
          <p class="form-control-static" id="node-group-name"><%=data.attributes.nodeGroupName%></p>
        </div>
    </div>
    <% } %>
    <div class="form-group">
        <label for="textarea-content" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-8">
            <% if (dataType === 1) { %>
            <pre class="form-control-static" id="textarea-content"><code><%=data.attributes.content%></code></pre>
            <% } else {%>
            <pre class="form-control-static" id="textarea-content"><code><%=data.attributes.shellCmd%></code></pre>
            <% } %>
        </div>
    </div>
    <div class="form-group">
        <label for="textarea-comment" class="col-sm-2 control-label">备注</label>
        <div class="col-sm-8">
            <pre class="form-control-static" id="textarea-comment"><%=data.attributes.remark%></pre>
        </div>
    </div>
</form>
