<div class="confirm-ctn">
  <div class="table-ctn table-responsive"></div>
  <form class="form-horizontal">
<!--       <div class="form-group dropdown-filegroup">
          <label for="dropdown-filegroup" class="col-sm-2 control-label">业务类型</label>
          <div class="dropdown col-sm-8">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-filegroup" data-toggle="dropdown">
                  <span class="cur-value">加载中...</span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu long-dropdown-menu"></ul>
          </div>
      </div>
      <div class="form-group dropdown-ipgrpup">
          <label for="dropdown-filetype" class="col-sm-2 control-label">IP组</label>
          <div class="dropdown col-sm-8">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-ipgrpup" data-toggle="dropdown">
                  <span class="cur-value">加载中...</span>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu long-dropdown-menu"></ul>
          </div>
      </div> -->
      <% for(var i = 0; i < data.length; i++) { %>
      <div class="form-group">
          <label for="node-<%=data[i].id%>" class="col-sm-2 control-label"><%=data[i].name%></label>
          <div class="col-sm-7">
              <!-- <textarea class="form-control" rows="3" id="ip-<%=data[i].id%>"></textarea> -->
              <div class="panel panel-default" id="panel-<%=data[i].id%>">
                <div class="panel-body" style="padding-bottom: 10px">
                  <ul class="list-unstyled node-ctn"></ul>
                </div>
              </div>
          </div>
          <div class="col-sm-1">
              <a href="javascript:void(0)" class="btn btn-default edit-name" id="edit-<%=data[i].id%>" nodeGroupId="<%=data[i].id%>">
                  添加节点设备
              </a>
          </div>
      </div>
      <% } %>
      <hr> 
      <div class="form-group">
          <label for="textarea-comment" class="col-sm-2 control-label">备注</label>
          <div class="col-sm-8">
              <textarea class="form-control" rows="2" id="textarea-comment"></textarea>
          </div>
      </div>
      <div class="form-group" style="display: none">
          <label class="checkbox-inline col-sm-2 control-label">
            <input type="checkbox" id="isShellCmd">脚本内容
          </label>
          <div class="col-sm-8">
              <textarea class="form-control" rows="5" id="textarea-content" style="display: none"></textarea>
          </div>
      </div>
  </form>
  <div class="text-center opt-ctn">
      <a href="javascript:void(0)" class="btn btn-primary ok-again">确定</a>
      <a href="javascript:void(0)" class="btn btn-default cancel">取消</a>
  </div>
</div>
