<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>域名</th>
        <th>CNAME</th>
        <th>业务类型</th>
        <th>状态</th>
        <th>来源</th>
        <th>CDN厂商</th>
        <th>操作时间</th>
        <th>操作</th>
        <th>操作详情</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].get('id')%>">
              <td><%=data[i].get("domain")%></td>
              <td><%=data[i].get("cnameDomainStr")%></td>
              <td><%=data[i].get("typeName")%></td>
              <td><%=data[i].get("statusName")%></td>
              <td><%=data[i].get("confCustomTypeName")%></td>
              <td><%=data[i].get("cdnFoctoryStr")%></td>
              <td><%=data[i].get("updateTimeFormated")%></td>
              <td>
                  <% if (data[i].get("originStatus") === 18 || data[i].get("originStatus") === 19) { %>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="open">解禁</a>
                  <% } %>
                  <% if (data[i].get("originStatus") !== 17 && data[i].get("originStatus") !== -1 && 
                         data[i].get("originStatus") !== 19 && data[i].get("originStatus") !== 18) { %>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="block">封禁</a>
                  <% } %>
              </td>
              <td>
                <% if (data[i].get("originStatus") === 18 || data[i].get("originStatus") === 19) { %>
					<a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="operateDetail">
					  操作详情
					</a>
                <% } else { %>
				----
                <% } %>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>