<table class="table table-striped table-hover long-dropdown-menu">
	<thead>
		<tr>
			<th>类型</th>
			<th>是否遵循源站</th>
			<th>目录</th>
			<th>过期时间(秒)</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i = 0; i < data.length; i++) { %>
			<tr id="<%=data[i].id%>">
			    <td value="<%=data[i].type%>">
			        <% if(data[i].type == 0){ %>
			            文件后缀
			        <% }else if(data[i].type == 1){ %>
			            目录
			        <% }else if(data[i].type == 2){ %>
			            具体url
			        <% }else if(data[i].type == 3){ %>
			            正则预留
			        <% }else if(data[i].type == 4){ %>
			            url包含指定参数
			        <% }else if(data[i].type == 9){ %>
			            全局默认缓存配置项
			        <% } %>
			    </td>
			    <td value="<%=data[i].hasOriginPolicy%>">
			    	<% if(data[i].hasOriginPolicy == "true" || data[i].hasOriginPolicy == true){ %>
			    		是
			    	<% }else{ %>
			            否
			        <% } %>
			    </td>
			    <td value="<%=data[i].policy%>"><%=data[i].policy%></td>
			    <td value="<%=data[i].expireTime%>"><%=data[i].expireTime%></td>
				<td>
					<a href="javascript:void(0)" id="<%=data[i].id%>" class="delete" title="删除">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>