<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>类型</th>
        <th>参数名称</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
        <tr data-id="<%=data[i].get('id')%>">
            <td><%=data[i].get('type')%></td>
            <td><input type="text" class="form-control param" value="<%=data[i].get('audioOnlyParam')%>" id="<%=data[i].get('id')%>"></td>
            <td>
                <div class="togglebutton">
                    <label>
                        <input type="checkbox" id="<%=data[i].get('id')%>" <% if (data[i].get('audioOnlyFlag') === 1) { %>checked="true" <% } %>>
                        <span class="toggle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
