<ul id="demo-list">
    <% if (permission.CustomerResource) { %> 
   <li>
        <a href="javascript:void(0)"><i class="glyphicon glyphicon-user"></i>客户资源</a>
        <ul class="submenu">
            <% if (permission.ManageChannels) { %>
            <li class="active" id="channelManage"><a href="javascript:void(0)" path="#channelManage"><i class="icon icon-monit-20"></i>频道管理</a></li>
            <% } %>
            <li id="domainManage"><a href="javascript:void(0)" path="index.html#/domainManage"><i class="glyphicon glyphicon-list"></i>域名管理</a></li>
        </ul>
   </li>
   <% } %>
   <% if (permission.ManageResources) { %> 
    <li><a href="javascript:void(0)"><i class="icon icon-vm-16"></i>资源管理</a>
        <ul class="submenu">
            <% if (permission.ManageNodes) { %> 
            <li id="nodeManage"><a href="javascript:void(0)" path="index.html#/nodeManage"><i class="icon icon-loadblance-16"></i>节点管理</a></li>
            <% } %>
            <li id="chargeManage"><a href="javascript:void(0)" path="index.html#/chargeManage"><i class="glyphicon glyphicon-menu-hamburger"></i>计费管理</a></li>
            <% if (permission.ManageHosts) { %>
            <li id="deviceManage"><a href="javascript:void(0)" path="index.html#/deviceManage/none"><i class="icon icon-physical-16"></i>设备管理</a></li>
            <% } %>
            <% if (permission.ManageIPs) { %>
            <li id="ipManage"><a href="javascript:void(0)" path="index.html#/ipManage"><i class="icon icon-ip-16"></i>IP管理</a></li>
            <% } %>
            <% if (permission.ManageTopos) { %>
            <li id="setupTopoManage"><a href="javascript:void(0)" path="index.html#/setupTopoManage"><i class="glyphicon glyphicon-text-width"></i>拓扑管理</a></li>
             <% } %>
             <% if (permission.ManageApplications) { %> 
            <li id="setupAppManage"><a href="javascript:void(0)" path="index.html#/setupAppManage"><i class="glyphicon glyphicon-font"></i>应用管理</a></li>
             <% } %>
			 <% if (permission.LayeredStrategyManage) { %>
            <li id="specialLayerManage"><a href="javascript:void(0)" path="index.html#/specialLayerManage"><i class="glyphicon glyphicon-text-size"></i>分层策略管理</a></li>
			<% } %>
            <% if (permission.HashManage) { %>
            <li id="hashOrigin"><a href="javascript:void(0)" path="index.html#/hashOrigin"><i class="glyphicon glyphicon-repeat"></i>hash环管理</a></li>
            <% } %>
        </ul>
    </li>
    <% } %>
    <% if (permission.ManageServices) { %> 
    <li><a href="javascript:void(0)"><i class="icon icon-content-16"></i>调度管理</a>
        <ul class="submenu">
            <% if (permission.ManageGslbGroups) { %> 
            <li id="dispGroup"><a href="javascript:void(0)" path="index.html#/dispGroup"><i class="icon icon-cache-16"></i>调度组管理</a></li>
            <% } %>
            <% if (permission.GslbConfig) { %> 
            <li id="dispConfig"><a href="javascript:void(0)" path="index.html#/dispConfig"><i class="glyphicon glyphicon-cog"></i>调度配置</a></li>
            <% } %>
            <li id="importAssess"><a href="javascript:void(0)" path="index.html#/importAssess"><i class="glyphicon glyphicon-log-in"></i>接入评估</a></li>
			<% if (permission.AccessDomainManage) { %>
            <li id="importDomainManage"><a href="javascript:void(0)" path="index.html#/importDomainManage"><i class="glyphicon glyphicon-import"></i>接入域名管理</a></li>
			<% } %>
        </ul>
    </li>
    <% } %>
    <% if (permission.ManageRegions) { %> 
    <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-globe"></i>区域管理</a>
        <ul class="submenu">
            <% if (permission.ManageCoverrelateds) { %> 
            <li id="coverManage"><a href="javascript:void(0)" path="map.html#/coverManage" target="_blank"><i class="glyphicon glyphicon-map-marker"></i>覆盖管理</a></li>
            <% } %>
            <% if (permission.Coverrelateds) { %> 
            <li id="coverRegion"><a href="javascript:void(0)" path="index.html#/coverRegion"><i class="glyphicon glyphicon-link"></i>节点区域关联</a></li>
            <% } %>
        </ul>
    </li>
    <% } %>
    <% if (permission.ManageServiceConfigs) { %>
    <li><a href="javascript:void(0)"><i class="fa fa-home"></i><i class="glyphicon glyphicon-cloud-upload"></i>配置拉取</a>
        <ul class="submenu">
            <% if (permission.ManageNodeGroups) { %> 
            <li id="businessManage"><a href="javascript:void(0)" path="index.html#/businessManage"><i class="icon icon-rds-16"></i>业务管理</a></li>
            <% } %>
            <% if (permission.ManageConfigs) { %> 
            <li id="liveAllSetup"><a href="javascript:void(0)" path="index.html#/liveAllSetup"><i class="icon icon-set-20"></i>所有配置</a></li>
            <% } %>
            <% if (permission.CurrentConfigurations) { %> 
            <li id="liveCurentSetup"><a href="javascript:void(0)" path="index.html#/liveCurentSetup"><i class="glyphicon glyphicon-wrench"></i>当前配置</a></li>
            <% } %>
            <% if (permission.GrayConfig) { %> 
            <li id="grayscaleSetup"><a href="javascript:void(0)" path="index.html#/grayscaleSetup"><i class="glyphicon glyphicon-dashboard"></i>灰度配置</a></li>
            <% } %>
            <li id="templateManage" style="display:none"><a href="javascript:void(0)" path="index.html#/templateManage"><i class="glyphicon glyphicon-align-justify"></i>模版管理</a></li>
        </ul>
    </li>
    <% } %>
    <% if (permission.SendConfigs) { %>
    <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-cloud-download"></i>配置下发</a>
        <ul class="submenu">
            <% if (permission.ManageDomain) { %>
            <li id="setupChannelManage"><a href="javascript:void(0)" path="index.html#/setupChannelManage"><i class="icon icon-monit-20"></i>频道管理</a></li>
            <% } %>
            <% if (permission.ManageSendConfigs) { %>
            <li id="setupSendManage"><a href="javascript:void(0)" path="index.html#/setupSendWaitCustomize"><i class="glyphicon glyphicon-send"></i>下发管理</a></li>
            <% } %>
			<% if (permission.IsomerismManage) { %>
            <li id="isomorphismManage"><a href="index.html#/isomorphismManage"><i class="glyphicon glyphicon-cutlery"></i>异构管理</a></li>
			<% } %>
        </ul>
    </li>
    <% } %>
    <% if (permission.DataStatistics) { %>
    <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-stats"></i>数据统计</a>
        <ul class="submenu">
            <% if (permission.CustomerBandwidthStatistics) { %>
            <li id="statisticsManage"><a href="javascript:void(0)" path="index.html#/statisticsManage"><i class="glyphicon glyphicon-user"></i>客户带宽统计</a></li>
            <% } %>
            <% if (permission.KADomainBandwidthStatistics) { %>
            <li id="domainStatistics"><a href="javascript:void(0)" path="index.html#/domainStatistics"><i class="glyphicon glyphicon-object-align-bottom"></i>KA客户带宽统计(域名)</a></li>
            <% } %>
            <% if (permission.KACustomersBandwidthStatistics) { %>
            <li id="clientStatistics"><a href="javascript:void(0)" path="index.html#/clientStatistics"><i class="glyphicon glyphicon-object-align-bottom"></i>KA客户带宽统计(客户)</a></li>
            <% } %>
        </ul>
    </li>
    <% } %>
    <% if (permission.ManageCustomerDomain) { %>
    <li><a href="javascript:void(0)"><i class="anticon anticon-idcard"></i>客户频道管理</a>
        <ul class="submenu">
            <% if (permission.CustomerConfig) { %>
            <li id="customerSetup"><a href="javascript:void(0)" path="index.html#/customerSetup"><i class="glyphicon glyphicon-user"></i>客户配置</a></li>
            <% } %>
			<% if (permission.ShareConfig) { %>
            <li id="sharedSetup"><a href="index.html#/sharedSetup/all"><i class="glyphicon glyphicon-share"></i>共享配置</a></li>
			<% } %>
        </ul>
    </li>
    <% } %>
    <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-wrench"></i>常用工具</a>
        <ul class="submenu">
            <li id="speedMeasure">
                <a href="javascript:void(0)" path="index.html#/speedMeasure">
                    <i class="glyphicon glyphicon-dashboard"></i>链路测速
                </a>
            </li>
            <% if (permission.CcacheManager) { %>
            <li id="commonCache">
                <a href="javascript:void(0)" path="index.html#/commonCache">
                    <i class="glyphicon glyphicon-hdd"></i>通用缓存
                </a>
            </li>
            <%}%>
            <% if (permission.ChangeDomainUser) { %>
            <li id="userMove">
                <a href="javascript:void(0)" path="index.html#/userMove">
                    <i class="glyphicon glyphicon-sort"></i>帐号迁移
                </a>
            </li>
            <%}%>
            
            <li id="adminManage">
                <a href="javascript:void(0)" path="index.html#/adminManage">
                    <i class="glyphicon glyphicon-import"></i>客户配置
                </a>
            </li>

            <li id="apiLimitRate">
                <a href="javascript:void(0)" path="index.html#/apiLimitRate">
                    <i class="glyphicon glyphicon-flash"></i>api限速
                </a>
            </li>
            
            <li id="statisticsDataSourceSwitch">
                <a href="javascript:void(0)" path="index.html#/statisticsDataSourceSwitch">
                    <i class="glyphicon glyphicon-random"></i>统计数据源切换
                </a>
            </li>
        </ul>
    </li>
    <li style="display:none"><a href="javascript:void(0)"><i class="glyphicon glyphicon-refresh"></i>预热刷新</a>
        <ul class="submenu">
            <li id="preheatManage">
                <a href="javascript:void(0)" path="index.html#/preheatManage">
                    <i class="anticon anticon-cloud-download"></i>预热管理
                </a>
            </li>
            <li id="refreshManual" style="display:none">
                <a href="javascript:void(0)" path="index.html#/refreshManual">
                    <i class="anticon anticon-cloud-download"></i>手动刷新
                </a>
            </li>
            <li id="customMaintenance" style="display:none">
                <a href="javascript:void(0)" path="index.html#/customMaintenance">
                    <i class="glyphicon glyphicon-th"></i>自助运维
                </a>
            </li>
        </ul>
    </li>
	<% if (permission.DomainSeting) { %>
	<li><a href="javascript:void(0)"><i class="glyphicon glyphicon-cog"></i>域名设置</a>
        <ul class="submenu">
			<% if (permission.PlatformChange) { %>
            <li id="applicationChange"><a href="javascript:void(0)" path="index.html#/applicationChange"><i class="glyphicon glyphicon-retweet"></i>平台切换</a></li>
			<% } %>
			<% if (permission.DomainBlock) { %>
            <li id="blockedDomain">
                <a href="javascript:void(0)" path="index.html#/blockedDomain"><i class="glyphicon glyphicon-ban-circle"></i>域名封禁</a>
            </li>
			<%}%>
        </ul>
    </li>
	<%}%>
    <% if (permission.ConfigurationModel) { %>
    <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-inbox"></i>配置模型</a>
        <ul class="submenu">
            <% if (permission.FrameworkManagement) { %>
            <li id="setupTemplateManage">
                <a href="javascript:void(0)" path="index.html#/setupTemplateManage"><i class="glyphicon glyphicon-blackboard"></i>框架管理</a>
            </li>
            <%}%>
            <% if (permission.ModuleManagement) { %>
            <li id="setupModuleManage">
                <a href="javascript:void(0)" path="index.html#/setupModuleManage"><i class="glyphicon glyphicon-th-large"></i>模块管理</a>
            </li>
            <%}%>
        </ul>
    </li>
    <%}%>
    <li><a href="javascript:void(0)"><i class="anticon anticon-profile"></i>日志管理</a>
        <ul class="submenu">
            <li id="logTemplateManage">
                <a href="javascript:void(0)" path="index.html#/logTemplateManage"><i class="anticon anticon-book"></i>模版管理</a>
            </li>
            <li id="logTaskList">
                <a href="javascript:void(0)" path="index.html#/logTaskList"><i class="anticon anticon-bars"></i>任务列表</a>
            </li>
            <li id="logTaskStatistics">
                <a href="javascript:void(0)" path="index.html#/logTaskStatistics"><i class="anticon anticon-area-chart"></i>任务统计</a>
            </li>
        </ul>
    </li>
</ul>