<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>客户名称</th>
        <th>客户ID</th>
        <th>邮箱</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].get('id')%>">
              <td><%=data[i].get("companyName")%></td>
              <td><%=data[i].get("userId")%></td>
              <td><%=data[i].get("email")%></td>
              <td><%=data[i].get("statusName")%></td>
              <td><%=data[i].get("createTimeFormated")%></td>
              <td>
                  <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="manage">管理</a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>