<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <th>名称</th>
        <th>英文缩写</th>
        <th>状态</th>
        <th>类型</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].id%>">
              <td><%=data[i]["chName"]%></td>
              <td><%=data[i]["name"]%></td>
              <td><%=data[i]["statusName"]%></td>
              <td><%=data[i]["typeName"]%></td>
            </tr>
        <% } %>  
    </tbody>
</table>