<table class="table table-striped table-hover">
    <thead> 
      <tr>
        <!-- <th><input type="checkbox" id="inlineCheckbox6"></th> -->
        <th>域名</th>
        <th>启用</th>
        <th>模版</th>
        <th>流量拷贝</th>
        <th>URI</th>
        <th>域名静态黑名单</th>   
        <th>域名白名单</th>  
        <th>操作</th>    
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr data-id="<%=data[i].get('id')%>">
              <!-- <td><input type="checkbox" id="<%=data[i].get('id')%>"></td> -->
              <td><%=data[i].get("name")%></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="edit" title="编辑">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="javascript:void(0)" id="<%=data[i].get('id')%>" class="delete" title="删除">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
        <% } %>  
    </tbody>
</table>